---
import BaseHead from "../components/Head/BaseHead.astro";
import Nav from "../components/Nav.astro";
import HomeHeader from "../components/HomeHeader.astro";

const title = "Capeletti.dev";
const description = "Portifolio and blog of a software engineer.";
const seoDescription =
  "Capeletti.dev - Portifolio and blog of a software engineer.";

const options = { Projects: "/projects", Posts: "/posts", links: "/links" };
---

<html lang="en">
  <head>
    <BaseHead title={title} description={seoDescription} />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
    <Nav />
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <main class="py-24 lg:py-40">
      <article class="max-w-6xl mx-auto my-auto px-3">
        <HomeHeader title={title} description={description} />
        <section
          class="flex justify-center gap-5 justify-items-center items-center"
          data-test="articles-section"
        >
          {
            Object.entries(options).map((value) => (
              <a href={value[1]}>
                <button class="p-3 text-white bg-cyan-600 rounded-xl">
                  {value[0]}
                </button>
              </a>
            ))
          }
        </section>
      </article>
    </main>
      <div class="absolute inset-x-0 top-[calc(100%-26rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-60rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </body>
</html>
