---
export interface Props {
  title: string;
  pubDate: Date;
  description: string;
  hero: string;
  tags: string[];
  youtube: string;
}

const { title, pubDate, hero, tags, youtube } = Astro.props;
---

<article class="max-w-5xl mx-auto px-3">
  <header
    class="mx-auto max-w-3xl flex flex-col flex-start content items-center justify-start mb-10"
  >
    <h1 class="basis-1/2">{title}</h1>
    {pubDate && <h5 class="font-semibold ">{pubDate.toLocaleDateString()}</h5>}
    {
      tags && (
        <div class="flex flex-wrap justify-center">
          {tags.map((tag) => (
            <a class="text-sm text-gray-600 mr-2 mt-4" href={`/search?${tag}`}>
              <button class="bg-gray-200 hover:bg-gray-300 rounded-full px-3 py-1">
                #{tag}
              </button>
            </a>
          ))}
        </div>
      )
    }
  </header>

  <!-- Image -->
  {
    hero && (
      <img
        class="rounded-xl mx-auto"
        style="min-width: 80%;"
        loading="lazy"
        src={hero}
        alt={title}
      />
    )
  }

  <!-- YouTube Video -->
  {
    youtube && (
      <div class="embed-responsive aspect-ratio-16/9 mt-6 lg:mt-12">
        <iframe
          width="700"
          height="500"
          class="embed-responsive-item"
          src={`https://www.youtube.com/embed/${youtube}`}
          allow="accelerometer; autoplay; encrypted-media; gyroscope;"
          allowfullscreen
        />
      </div>
    )
  }
  <section class="max-w-3xl mx-auto py-6 lg:py-12 content">
    <slot />
  </section>
</article>
<section class="flex space-x-8 justify-center text-xl pt-8 font-bold">
  <a href="/posts" class="ml-8" data-test="see-all-link">
    <span>&larr;</span> Back to posts
  </a>
</section>
