---
import { formatDate } from "../utils";

export interface Props {
  post: any;
  blank: boolean;
}

const { blank, post } = Astro.props;
---

<a href={post.url} class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-3 shadow-lg hover:shadow-xl bg-bg-terciary hover:bg-bg-terciary-hover rounded-xl overflow-hidden border-border" data-test="article-card" target={blank ? "_blank" : "_self"}>
  {post.frontmatter.hero && <img src={post.frontmatter.hero} alt={post.frontmatter.title} width="360" height="192" />}
  <div class="py-6 px-8">
    <h2 class="font-bold text-2xl leading-tight text-text-terciary">
      {post.frontmatter.title}
    </h2>
    {post.frontmatter.pubDate && <p class="font-medium text-s text-text-terciary mt-4 flex items-center">{formatDate(post.frontmatter.pubDate)}</p>}
  </div>
</a>

<style>
  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
</style>
