---
import { formatDate } from "../utils";
import type { IPost } from "../utils/types";

export interface Props {
  post: IPost;
  blank: boolean;
}

const { blank, post } = Astro.props;
const isDraft = post.frontmatter?.tags?.[0] === "draft"
const draftStyle = "border-4 border-btn-primary hover:border-contrast"
---

<a href={post.url} class=`transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-3 shadow-lg hover:shadow-xl bg-bg-terciary hover:bg-bg-terciary-hover rounded-xl overflow-hidden ${isDraft ? draftStyle : "is border-2 border-border"}` data-test="article-card" target={blank ? "_blank" : "_self"}>
  {isDraft && <div class="draft hover:bg-contrast">Draft✏️</div>}
  {post.frontmatter.hero && <img src={post.frontmatter.hero} alt={post.frontmatter.title} width="360" height="192" />}
  <div class="py-6 px-8">
    <h2 class="font-bold text-2xl leading-tight text-text-terciary">
      {post.frontmatter.title}
    </h2>
    {post.frontmatter.pubDate && <p class="font-medium text-s text-text-terciary mt-4 flex items-center">{formatDate(post.frontmatter.pubDate)}</p>}
  </div>
</a>

<style>
  .draft {
    color: var(--color-text-secondary);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem 0.3rem;
    border-radius: 0.5rem;
    background-color: var(--color-btn-primary);
    font-size: 0.8rem;
    line-height: 1rem;
    z-index: 1000;
  }
  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
</style>
