---
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Paginator from "../components/Paginator.astro";
import { type IPage } from "../utils/types";

export interface Props {
  title: string;
  page: IPage;
  blank?: boolean;
  wideCard?: boolean;
}

const { title, page, blank, wideCard } = Astro.props;
const totalPages = Math.ceil(page.total / page.size);
const description = totalPages > 1 ? `page ${page.currentPage} of ${totalPages}` : undefined;
---

<article class="max-w-6xl mx-auto px-3">
  <Header title={title} description={description} />
  <section class=`grid grid-cols-1 ${wideCard ? '' : 'md:grid-cols-2 lg:grid-cols-3'} gap-6 py-8` data-test="articles-section">
    {
      page.data.map((p) => (
        <div class="col-span-1">
          <Card post={p} blank={blank ?? false} />
        </div>
      ))
    }
  </section>
</article>
<Paginator page={page} />
